<div class="row">
    <div class="col">
        <header class="header">
            <nav class="navbar">
                <div class="nav__logo">
                    <div class="nav__logo--img">
                        <img src="/assets/img/icon/logo-lawfirm.png" alt="">
                    </div>
                    <div class="nav__logo--content">
                        <p>Justice</p>
                        <p>Law Firm</p>
                    </div>
                </div>
                <div class="nav__menu">
                    <ul class="nav__list">
                        <li class="nav__items">
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li class="nav__items">
                            <a href="#">
                                About
                                <i class="icon-transform fa-solid fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="nav__items">
                            <a href="#">
                                Practice Areas
                                <i class="icon-transform fa-solid fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="nav__items">
                            <a href="#">
                                Attorneys
                            </a>
                        </li>
                        <li class="nav__items">
                            <a href="#">
                                Page
                                <i class="icon-transform fa-solid fa-angle-down"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav__call">
                    <a href="tel:123456789">Call : <strong class="highlight">(000) 123 456 789</strong></a>
                </div>
            </nav>
        </header>
    </div>
</div>